* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
span {
  color: #ffb228;
  font-size: 60px;
}
section {
  display: flex;
}
.half {
  width: 50%;
  padding: 6%;
}
.half img {
  width: 88%;
}
.head {
  margin-bottom: 20px;
}
.head2 {
  margin-bottom: 10px;
}
.about {
  margin-bottom: 25px;
}
.top {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.link-button {
  padding: 10px 40px;
  background-image: linear-gradient(to bottom right, #e3872d, #ff6600);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}
